p,ul,li {
    font-size:18px;
    text-align: left;
}

img .imgquiz {
  width: auto;
  height: 250px;
}

img .imginstructions {
    width:100%;
    height:auto;
}

img .imgplayerdecision {
    height: 350px;
    width: auto
}