p,ul,li {
    font-size:18px;
    text-align: left;
}

img .imgquiz {
  width: auto;
  height: 250px;
}

.imginstructions {
    width:auto;
    height:500px !important;
}

.imgplayerdecision {
    height: 350px !important;
    width: auto
}